# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# macOS
.DS_Store

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/
.vscode/

# Others
package-lock.json
package.json

# =========================
# Operating System Files
# =========================

*.zip
*.rar
*.sql





